services:
  proxy:
    image: caddy:2.8.4
    restart: "unless-stopped"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
  bert:
    image: ghcr.io/front-matter/rogue-scholar-bert:latest
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    healthcheck:
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
volumes:
  caddy_data:
  caddy_config: